<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员页面</title>
    <script src="/assets/jQuery/jQuery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <link type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div id="head" class="col-lg-12">
    抽奖后台管理系统
</div>

<div id="content">
    <div>
        <button class="btn btn-default">创建抽奖规则</button>
    </div>
    <div>

    </div>
</div>

<script>
    (function($) {
        $(function () {
            $.get('/rules', function(result) {
                console.log(result);
            }, 'json');
        });
    })(jQuery);
</script>

</body>
</html>