<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员页面</title>
    <script src="/assets/jQuery/jQuery.min.js"></script>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <link type="text/css" href="/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>

<div id="head" class="col-lg-12">
    抽奖后台管理系统
</div>

<div id="content">
    <div>
        <button class="btn btn-default">创建抽奖规则</button>
    </div>
    <div>
        <table>
            <thead>
            <tr>
                <td>id</td>
                <td>抽奖名</td>
                <td>开始时间</td>
                <td>截止时间</td>
                <td>参与的最多人数</td>
                <td>抽选出的人数</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <tr>

            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    (function ($) {
        $(function () {
            $.get('/rules', function (result) {
                console.log(result);
            }, 'json');
        });
    })(jQuery);
</script>

</body>
</html>